.article_wrapper {
  width: 100%;
  overflow: hidden;
}

.article_inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header_wrapper {
  text-align: center;
  background-color: #000;
  overflow: hidden;
}

.header_wrapper h1 {
  font-size: 65px;
  opacity: 0;
  transform: translateY(65px);
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.article_content__wrapper {
  min-height: 345px;
  display: grid;
  align-items: center;
  color: #fff;
  padding: 4em;
  overflow: hidden;
  background-color: #000;
}

.content_para {
  margin-top: 1em;
  line-height: 28px;
  font-size: 14px;
  color: #5d5d5d;
  opacity: 0;
  overflow: hidden;
  transform: translateY(75px);
  transition: opacity 1000ms ease-out 800ms, transform 1000ms ease-out 800ms;
}

.article_images {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img_ {
  display: block;
  width: 70%;
  margin: 1.5em auto;
}

#article_img_one,
#article_img_two {
  opacity: 0;
  border-radius: 1px 50px 0px 50px;
  transform: translateX(50px);
  transition: all 1000ms ease-in-out;
}

@media (max-width: 968px) {
  .article_inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .header_wrapper h1 {
    font-size: 55px;
  }

  .content_para {
    text-align: center;
  }
}

@media (max-width: 571px) {
  .article_content__wrapper {
    padding: 2em;
  }

  .header_wrapper h1 {
    font-size: 45px;
  }
}
